{% extends "layout.html" %}

{% block title %}
  {{ book.title }}
{% endblock %}

{% block body %}
  <h2>Название книги: {{ book.title }}</h2>
  <h2>Автор: {{ book.author }}</h2>
  <h3>Год: {{ book.year }}</h3>
  <h4>ISBN: {{ book.isbn }}</h4>
  {% if gr: %}
    <h6>Средняя оценка на сайте <a href="https://www.goodreads.com/">goodreads</a>: <h4>{{ gr['average'] }}</h4>
      (всего оценок: {{ gr['rcount'] }})</h6>
  {% endif %}
  <h4>Комментарии:</h4>
  <br>
  {% for rev in reviews %}
    <div class="container">
      <div class="row">
        <h3 class="text-primary">{{ rev.nickname }} пишет: </h3>
      </div>
      <div class="row">
        <div class="col">
          <p>{{ rev.text }}</p>
          <h6>Оценка: {{ rev.rating }}</h6>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if kom %}
  <div id="kom" class="container">
    <div class="row">
      <form class="" action="{{ url_for('book', isbn=book.isbn) }}" method="post">
        <div class="row justify-content-end">
          <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
            <label class="btn btn-secondary">
              <input type="radio" name="rating" id="rating1" value="1" autocomplete="off"> 1
            </label>
            <label class="btn btn-danger">
              <input type="radio" name="rating" id="rating2" value="2" autocomplete="off"> 2
            </label>
            <label class="btn btn-warning">
              <input type="radio" name="rating" id="rating3" value="3" autocomplete="off"> 3
            </label>
            <label class="btn btn-primary active">
              <input type="radio" name="rating" id="rating4" value="4" autocomplete="off" checked> 4
            </label>
            <label class="btn btn-success">
              <input type="radio" name="rating" id="rating5" value="5" autocomplete="off"> 5
            </label>
          </div>
        </div>
        <div class="row justify-content-center">
          <textarea class="form-control" name="review" rows="4" cols="60" placeholder="Напишите свой отзыв..." style="resize: none"></textarea>
        </div>
        <div class="row">
          <button class="btn btn-primary" type="submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}
