{% extends "layout.html" %}

{% block title %}
  Книжки?
{% endblock %}

{% block body %}
    {%if search %}
      {% for row in result %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <h3><a href="{{ url_for('book', isbn=row.isbn) }}">{{ row.title }}</a></h3>
          </div>
        </div>
      </div>
      {% else %}
      <div class="container">
        <div class="row justify-content-center">
          <h3>Ничего не найдено</h3>
        </div>
      </div>
      {% endfor %}
    {% endif %}
{% endblock %}
